/* 
    Created on : Nov 25, 2016, 8:59:05 PM
    Author     : ifta
*/



body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    font-family: sans-serif;
    font-size:14px;
    text-shadow: 0 0 1px rgba(51,51,51,0.2);
    background:  #f6f6f6;
    
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}
div{
    margin: 0;
}
p{
    margin: 0;
}

.topbox{
    height: 5px;
    width: 100%;
}
.grey{
    color: #3c3c3c;
}
.black{
    background : #000000;
}
.red{
    background: #ff0000;
}
.deepred{
    background:  brown;
}
.banner{
    position:relative;
    height: auto;
    width: 100%;
    background: black;
}
#title{
    position: absolute; margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.slider {
    width: 50%;
    margin: 0 auto;
}
.slick-slide {
    margin: 0px 20px;
    border: 10px white solid;
}
.slick-slide img {
    width: 100%;
}
.slick-prev:before,
.slick-next:before {
    color: black;
    content: "";
}
.scrollDown {
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
}
.scrollDown img {
    cursor: pointer;
}
.title-and-name{
    text-align: center;
    color: white;

}
.centering{
    text-align: center;
}
.title-and-name h1{
    font-size: 300%;
    margin: 15px;
}
.title-and-name h2{
    font-size: 200%;
    margin-top: 0;
}

.padding-cleartop{
    padding-top: 100px;;
}
.left-right-parent-centered{
    overflow: auto;
    display: flex;
    justify-content: center;
}
.left-centered{
    max-width: 70%;
    overflow: visible;
    float: left;
    margin: 5%;
    align-self: center;
}
.right-centered{
    overflow: no-content;
    text-align: right;
    margin: 5%;
    float: right;
    align-self: center;
}
.left-right-parent{
    overflow: auto;
}
.left{
    width: 50%;
    float: left;
}
.right{
    width: 50%;
    float: left;
}
.test{
    background: black;
}

.parent-3-part{
    overflow: auto;
    display: flex;
}
.left-3-part{
    overflow: hidden;
    width: 33%;
    float: left;
}
.middle-3-part{
    overflow: hidden;
    width: 33%;
    float: left;

}
.right-3-part{
    overflow: hidden;
    width: 33%;
    float: right;
}

.center-cropped {
    background-position: center center;
    background-repeat: no-repeat;
}

.moveLeft{
    left: -30px;
}
.moveRight{
    right: -30px;
}
.container{
    padding-left: 10%;
    padding-right: 10%;
}
.portfolioItem{
    height: 190px;
    text-align: center;
    border: 10px #3dd0ac solid;
    margin: 30px;
    position: relative;
}
.portfolioItem img{
    max-width: 100%;
    height: inherit;
    vertical-align: top;
}
.portfolioItem:after {
    content:'Click to view';
    cursor: url;
    color:#fff;
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.portfolioItem:hover:after {
    opacity:1;
    cursor: url;
}
.portfolioTable{
    border-collapse: collapse;
    width: 100%;
}
.portfolioTable tr{
    width: 100%;
}
.portfolioTable tr td{
    max-width: 100%;
    text-align: center;
    padding-top: .5em;
    padding-bottom: .5em;
}
.portfolioTable tr td a img{
    height: 100px;
    width: 100px;
}

.row {
    white-space: nowrap;
    text-align: center;
}
.row > div {
    display: inline-block;
    height: 150px;
    width: 150px;
}
.row > div + div {
    margin-left: 20px
}
.footer{
    white-space: nowrap;
    text-align: center;
}
.footer div{
    display: inline-block;
    height: fit-content;
    width: fit-content;
    margin-bottom: 10px;
    margin-top: 10px;
}